<div class="border align-content-justify">
    <p> Ciao <%= current_user.email %> </p>

    <% if @events.size!=0%>
        <ul><% @events.each do |event| %>
            <li><%= event.title%></li>
        <% end%> </ul>
    <% else %>
        <p> Non ci sono eventi in lista </p>
    <% end %>
</div>