<div class="border v-100">
    <p> Ciao <%= current_user.email %> </p>
    <%= link_to "Nuovo evento", new_event_path, class: "btn btn-primary"%>


    <% if @events.size!=0%>
       <%= render @events%>
    <% else %>
        <p> Non ci sono eventi in lista </p>
    <% end %>
</div>